# src ( image, video, etc.. )
/lee/src/
/lee/test.csv
/lee/tmp.png

# main ( executable file )
/lee/main

# syntax test, ability test
/test.cpp

# etc
/CMakeLists.txt
/cmake-build-debug
/.vscode
/.idea
.DS_Store
